<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimal-ui" />
    <title>{{htmlTitle}}</title>
  
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css" id="site_styles">
    <link rel="shortcut icon" type="image/png" href="{{projectAssets}}/favicon.png">
</head>
<body class="yui3-smart" _assetsPath="{{projectAssets}}" _docVersion="{{projectDocVersion}}">
    {{>header}}
    {{>sidebar}}
    <div class="stdoc-content">
        <div class="apidocs">
            <div id="docs-main">
                <div class="content">
                    {{>layout_content}}
                </div>
            </div>
        </div>
    </div>
<a id="gotoTop" class='well well-small' href='#'></a>
<script src="{{projectAssets}}/vendor/jquery/jquery-1.8.2.js"></script>
<script src="{{projectAssets}}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
<script src="{{projectAssets}}/js/config.js"></script>
<script src="{{projectAssets}}/js/doc.js"></script>
<script src="../versions.js"></script>
{{#if projectScripts}}
    {{#each projectScripts}}
        <script src="{{../projectAssets}}/res/{{this}}"></script>
    {{/each}}

{{/if}}
</body>
</html>
