<div class="page-header">
    <h1>{{name}}</h1>
</div>

{{#if since}}
    <p>Available since {{since}}</p>
{{/if}}
{{#if deprecated}}
    <p>
        {{#if deprecationMessage}}
            <strong>Deprecated:</strong> {{deprecationMessage}}
        {{else}}
            This class is deprecated.
        {{/if}}
    </p>
{{/if}}

 <div class="gfs-description">
      {{{classDescription}}}
 </div>

<div class="{{#if projectHideViewDemo}}hide-view-demo{{/if}}{{#if projectHideEditCode}} hide-edit-code{{/if}}{{#if projectHideFoundAt}} hide-found-at{{/if}}">
    
    <div class="tab-content">
        {{#if methods}}
        <div id="method">
            <h2 class="off-left">方法</h2>

            <table class="table table-bordered params-pc-table">
                <tr class='active'><th>方法名</th><th>说明</th><th>回调参数</th></tr>
                {{#methods}}
                    {{>method}}
                {{/methods}}
            </table>
        </div>
        {{/if}}

        {{#if properties}}
        <div id="property">
            <h2 class="off-left">属性</h2>

            <table class="table table-bordered params-pc-table">
                <tr class='active'><th>属性名</th><th>类型</th><th>说明</th><th>默认值</th></tr>
                {{#properties}}
                    {{>props}}
                {{/properties}}
            </table>
            
        </div>
        {{/if}}

        {{#if events}}
        <div id="event" class="">
            <h2 class="off-left">事件</h2>
            <table class="table table-bordered params-pc-table">
                <tr class='active'><th>方法名</th><th>说明</th><th>回调参数</th></tr>
                {{#events}}
                    {{>events}}
                {{/events}}
            </table>
        </div>
        {{/if}}
    </div>
</div>

<div>

    {{#if example}}
        <div class="example">
            <h4>示例展示:</h4>
            <div class="example-content {{#if show}} showdemo {{/if}}" data-demo="{{getValueByIndex ../exampleUrls 0}}">
                
            </div>
        </div>
    {{/if}}
</div>
