<tr class="param">
     <td> 
        <code class="param-name">{{name}}</code>
    </td>
    <td>
        <div class="param-description">
            {{#if deprecated}}deprecated,{{/if}}{{#if deprecationMessage}}<p>Deprecated: {{deprecationMessage}},{{/if}}{{#if since}} Available since {{since}}.</p>{{/if}}
            {{{eventDescription}}}
            {{#if return}}
                <span class="returns-inline">
                    return<span class="type">{{#crossLink returnType}}{{/crossLink}}</span>
                </span>
            {{/if}}
        </div>
    </td>
    <td>
        {{#params}}
            <div>{{name}}<span class="type">{{#crossLink type}}{{/crossLink}}</span><span class="param-description">{{{description}}}</span></div>
            {{#if props}}
                {{#props}}
                    <div>{{../name}}.{{name}}<span class="type">{{#crossLink type}}{{/crossLink}}</span><span class="param-description">{{{description}}}</span></div>
                {{/props}}
            {{/if}}
            
        {{/params}}
    </td>
    
</tr>